body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

body, html {
    height: 85%;
    line-height: 1.8;
}

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("https://www.w3schools.com/w3images/mac.jpg");
    min-height: 85%;
}

.w3-bar .w3-button {
    padding: 16px;
}

/* Contenedor para las imágenes */
.member-img-container {
    width: 100%;
    height: 200px; /* Ajusta la altura de las imágenes a tu gusto */
    overflow: hidden;
}

/* Imágenes con tamaño fijo */
.member-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen mantenga su proporción y llene el espacio */
}

/* Establecer un tamaño fijo para los contenedores */
.w3-card {
    height: 400px; /* Puedes ajustar este valor según lo que necesites */
    display: flex;
    flex-direction: column;
}

/* Ajustar contenido dentro de los contenedores */
.w3-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
