body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

body, html {
    height: 85%;
    line-height: 1.8;
}

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/graphs4.webp");
    min-height: 85%;
}

.bgimg-2 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/graphs4_short.jpg");
    min-height: 85%;
}

.bgimg-3 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/graphs_opt3.webp");
    min-height: 85%;
}

.bgimg-4 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/graphs_opt3_short2.jpg");
    min-height: 85%;
}

.w3-bar .w3-button {
    padding: 16px;
}

/* Members cards of the same size */
.w3-row-padding {
    display: flex;
    flex-wrap: wrap;
}

.w3-col {
    display: flex;
}